@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

#app {
  width: 100vw;
  min-height: 100vh;
  background: gainsboro;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  z-index: 2;
}

.ai {
  background: #40414f;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  z-index: 2;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436da;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  z-index: 2;
  color: black;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: -webkit-fill-available;
  max-width: 100vw;
  border: 1px solid black;
  margin: 0.5rem;
  padding: 10px;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  bottom: 0;
  position: fixed;
  z-index: 5;
}

textarea {
  width: 100%;
  font-style: italic;
  color: black;
  font-size: 18px;
  resize: none;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

#chat-container {
  display: flex;
  flex-direction: column;
  justify-self: start;
  justify-content: start;
  align-items: flex-start;
  width: -webkit-fill-available;
  border-radius: 5px;
  padding: 1rem;
}
.bg {
  text-align: center;
  z-index: 0;
  font-size: 4em;
  font-style: italic;
  color: gainsboro;
  text-shadow: #fff 0 0 1px, #eee 0 4px 3px, #ddd 0 9px 3px, #ccc 0 12px 1px,
    rgba(0, 0, 0, 0.2) 1px 14px 3px, rgba(0, 0, 0, 0.2) 2px 20px 10px,
    rgba(0, 0, 100, 0.3) 2px 15px 90px;
}
